# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Table with three open source tools used in data science
* A simple arithmetic expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Visual Basic
5. Julia
6. C
7. C++
8. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. PyCharm
3. NumPy
4. SciPy
5. PyTorch
6. Keras

| Data Science Tools |
|--------------------|
| JupyterLab |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Valentino